body {
  font-family: Arial, Helveticam, sans-seriff;
  margin: 40px;
  padding: 40px;
  color: #242424;
}


h1 {
    font-size: 4em;
    margin: 0.5;
}

html {
  background: #e3e3e3;
}

button {
    background-color: yellow;
    border-top: 1px dotted #ccc;  
}
