


h1 {
    font-size: 4em;
    margin: 0.5;
}



buttonOne {
    background-color: yellow;
    border-top: 1px dotted #ccc;  
}

buttonTwo {
    background-color: green;

}

buttonThree {
    background-color: blue;
  
}
