body {
  font-family: Arial, Helveticam, sans-seriff;
  margin: 40px;
  padding: 40px;
  color: #242424;
}

button {
    background-color: yellow;
    border-top: 1px dotted #ccc;
    margin: 4px;
    padding: 7px;
}

h1 {
    font-size: 2em;
    margin: 0.5;
}

h3 {
    font-size: 1em;

}

html {
  background: #e3e3e3;
}

section {
  display: flex;
}
